#hero {
    position: relative;
    text-align: center;
    color: white;
}

#hero img {
    width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif; /* This is the font similar to 'Forum' */
    font-size: 5em; /* Adjust size as needed */
}

/* Continue with existing CSS */
/* ... */


body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns of equal size */
    gap: 5px; /* Reduces the gap between images */
    padding: 20px;
}
#gallery img {
    width: 100%; /* Makes images expand to fill their container */
    height: auto; /* Keeps the aspect ratio of the images */
    border: 2px solid #333; /* Thinner borders */
}

html {
    scroll-behavior: smooth;
}

