/* Add @font-face rule for custom font */
@font-face {
    font-family: 'CustomFont';
    src: url('Forum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#hero {
    position: relative;
    text-align: center;
    color: white;
}

#hero img {
    width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'CustomFont', serif; /* This is the font similar to 'Forum' */
    font-size: 5em; /* Adjust size as needed */
}

/* Apply custom font and style for the header */

header {
    font-family: 'CustomFont', sans-serif;
    background-color: transparent; /* Make header background transparent */
    position: fixed; /* Keep the header at the top */
    width: 100%;
    z-index: 1000; /* Ensure the header is above other content */
    transition: background-color 0.3s; /* Smooth transition for background */
}

/* Style for header when user scrolls */
.scroll-header {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-bottom: 2px solid #ccc; /* Add a clear border */
}

/* Remove borders around images */
#gallery img {
    border: none; /* Remove borders */
}

/* Image hover effect */
#gallery img:hover {
    transform: scale(1.1); /* Zoom effect */
    transition: transform 0.3s ease-in-out; /* Smooth transition for zoom effect */
}


body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns of equal size */
    gap: 5px; /* Reduces the gap between images */
    padding: 20px;
}
#gallery img {
    width: 100%; /* Makes images expand to fill their container */
    height: auto; /* Keeps the aspect ratio of the images */
    border: 2px solid #333; /* Thinner borders */
}

html {
    scroll-behavior: smooth;
}

