/* Add @font-face rule for custom font */
@font-face {
    font-family: 'CustomFont';
    src: url('Forum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* Apply custom font and style for the header */

header {
    font-family: 'CustomFont', sans-serif;
    background-color: transparent; /* Make header background transparent */
    position: fixed; /* Keep the header at the top */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* original is 1000, testing out 0 to see if it fixes the problem*/
    transition: all 0.3s;
    font-size: 0.4em; /* Adjust the size of 'Apricity' text */
    transition: background-color 0.3s; /* Smooth transition for background */
}

.scroll-header {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-bottom: 0px solid #ccc; /* Add a clear border */
}


/* First photo, middle text */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'CustomFont', serif; /* This is the font similar to 'Forum' */
    font-size: 5.5em; /* Adjust size as needed */
}

#hero {
    position: relative;
    text-align: center;
    color: white;
}

#hero img {
    width: 100%;
    height: auto;
}

/* Image hover effect */

#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns of equal size */
    gap: 5px; /* Reduces the gap between images */
    padding: 20px;
    overflow: hidden;
}

#gallery figure {
    margin: 0;
    overflow: hidden;
    position: relative;
}

#gallery img {
    width: 100%; /* Makes images expand to fill their container */
    height: auto; /* Keeps the aspect ratio of the images */
    border: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    width: 100%;
    height: auto;
}

#gallery img:hover {
    transform: scale(1.3); /* Zoom effect */
    transition: transform 0.3s ease-in-out; /* Smooth transition for zoom effect */
}

html {
    scroll-behavior: smooth;
}



